#PaymentTitle {
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: rgb(234, 94, 94); 
}

#formbody{
    background-color: rgb(255, 248, 218); 
}

#woodyImage {
    font-family: "Trebuchet MS";
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #281d1b;
    text-decoration: none;
}

#paymentHomeButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 750px;
    padding-top: 30px;
    color:black;
    text-decoration: none;
}

#paymentMenuButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color:black;
    text-decoration: none;
}

#paymentLoginButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color:black;
    text-decoration: none;
}

#cartButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 25px;
    color: #281d1b;
    text-decoration: none;
    position: relative;
}

.cartAmount{
    font-size: 20px;
    position: absolute;
    bottom: -15px;
    left: 30px;
    background-color: rgb(203, 33, 33);
    color: white;
    padding: 4px;
    border-radius: 50%;
}

#cartButton:hover {
    color: red;
}

.navigation li a {
    text-decoration: none;
    color: black; /* or whatever your default color is */
}

.navigation li a:hover {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type=text] {
    font-family: "Trebuchet MS";
    border: 2px solid black;
    border-radius: 4px;
}

input[type=submit]{
    font-family: "Trebuchet MS";
    background-color: #850a1a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

label{
    font-family: "Trebuchet MS";
}

.namegroup{
    font-family: "Trebuchet MS";
    display: inline-flex;
    flex-direction: column; 
    width: 25%;
}

.paymentgroup {
    label {
        float: left;
        clear: none;
        display: block;
        padding: 17px 2em 0px 0px;
      }
    font-family: "Trebuchet MS";
    display: inline-flex;
    flex-direction: row; 
    width: 100%;
    margin-left: 3em;
}

.cardgroup {
    label {
        font-family: "Trebuchet MS";
        clear: none;
        margin: 10px;
        padding: 0px 0em 0px 0px;
      }
    display: inline-flex;
    flex-direction: row; 
    margin-left: 2.3em;
    width: 100%;
}
