#title {
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 25px;
    text-align: left;
    padding-top: 30px;
    color: #d62100;
}

#homeButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 700px;
    color: #281d1b;

}

#menuButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
    border-bottom: 2px solid red; 
}

#loginButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
    border-bottom: 2px solid red; 
    border-width: 2px;
}

#aboutButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
    border-bottom: 2px solid red; 
}


li {
    display: inline-block;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}