#cartTitle {
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: rgb(234, 94, 94); 
}

#formbody{
    background-color: rgb(255, 248, 218); 
}

#woodyImage {
    font-family: "Trebuchet MS";
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #281d1b;
    text-decoration: none;
}

#cartHomeButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-left: 710px;
    padding-top: 30px;
    color: #281d1b;
    text-decoration: none;
}

#cartMenuButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color: #281d1b;
    text-decoration: none;
}

#cartLoginButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color: #281d1b;
    text-decoration: none;
}

#cartAboutButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color: #281d1b;
    text-decoration: none;
}

#cartButton {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 25px;
    color: #281d1b;
    text-decoration: none;
    position: relative;
}

.cartAmount{
    font-size: 20px;
    position: absolute;
    bottom: -15px;
    left: 30px;
    background-color: rgb(203, 33, 33);
    color: white;
    padding: 4px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cartTable{
    margin: 80px auto;
    table{
        width: 100%;
        border-collapse: collapse;
    }
    th{
        text-align: left;
        padding: 5px;
        color: white;
        background: rgb(234, 94, 94);
        font-weight: normal;
    }
    td{
        padding: 10px 5px;
    }
}

.cartTotal{
    display: flex;
    justify-content: flex-end;
    table{
        border-top: 3px solid rgb(234, 94, 94);
        width: 100%;
        max-width: 350px;
    }
}

h2{
    font-family: "Trebuchet MS";
}