/** 
    This section is for styling the buttons on the top.
**/
#menuTitle {
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 25px;
    text-align: left;
    padding-top: 30px;
    padding-left:25px;
    color: #d62100;
}

#menuHomeButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 875px;
    color: #281d1b;
    text-decoration: none;

}

#menuMenuButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

#menuLoginButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

#menuAboutButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

body {
    max-width: 100%;
    overflow: auto;
}

li {
    list-style-type: none;
    display: inline-block;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/** 
    This section is for styling the sidebar that holds the categories
**/

.sidebar {
    position: fixed; /* Fix the sidebar to the left side */
    top: 250px;
    left: 35px;
    color: black;
    font-size: 25px;
    font-family: "Public Sans";
}

.sidebar ul {
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    text-decoration: none; color:black; 
}

a:hover {
    text-decoration: none; color:red; 
}

/** 
    This section is for styling the individual menu items
**/

.item-container {   
    display:grid;
    gap:50px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin:auto;
    padding-top: 45px;
    padding-left: 350px;
    margin-right: 70px;
  
}

.wraps-container {
    display:grid;
    gap:50px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    margin:auto;
    padding-top: 45px;
    padding-left: 350px;
    margin-right: 70px;
}

.item-name {
    font-size: 25px;
    text-align: center;
    font-family:cursive;
}

.item-price {
    color:red;
    font-size:20px;    
    font-style: italic;
    text-align: center;
}   

.item-image {
   position: relative;
   left:30px;
   background-color:antiquewhite;

}

#divider {
    border: none;
    height:3px;
    background-color: red;
    width:1110px;
    margin-right: 50px;

}

.menu-item {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 1);
}

h1 {
    padding-left: 300px;
    font-size: 50px;

}




