/** 
    This section is for styling the buttons on the top.
**/
#menuTitle {
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 25px;
    text-align: left;
    padding-top: 30px;
    padding-left:25px;
    color: #d62100;
}

#menuHomeButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 875px;
    color: #281d1b;
    text-decoration: none;

}

#menuMenuButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

#menuLoginButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

#menuAboutButton {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding-left: 50px;
    color: #281d1b;
    text-decoration: none;
}

li {
    list-style-type: none;
    display: inline-block;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/** 
    This section is for styling the sidebar that holds the categories
**/

.sidebar {
    position: fixed; /* Fix the sidebar to the left side */
    top: 250px;
    left: 35px;
    color: black;
    font-size: 25px;
    font-family: "Public Sans";
}

.sidebar ul {
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    text-decoration: none; color:black; 
}

a:hover {
    text-decoration: none; color:red; 
}

/** 
    This section is for styling the individual menu items
**/

.menu {
    left:100;
    display:grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    padding-top: 100px;
    padding-left: 300px;
    gap:30px;

}

.item {
    border: 2px solid black;
    border-radius: 4px;
}

.menuItemDetails {
    display:flex;
    flex-direction: coloumn;
    padding:10px;
    gap:10px;
}
